@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body { /*Fondo*/
    background-image: url("../imagenes/concierto.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.enun1{
    color: #e62f4a;
    text-align: center;
    margin-top: 40px;
}
.enun1 #l2{
    color: white;
}

.flex{
    display: flex;
}

.registro a {
    color: black; /* Cambia el color a negro */
    text-align: center;
    text-decoration: none;
}

.registro a:hover {
    color: black; /* Mantén el color negro al hacer hover */
    text-decoration: underline;
}

.registro {
    width: 700px;
    background: white;
    margin: 10px auto 50px;
    padding: 30px;
    border-radius: 4px;
    font-family: 'calibri';
    color: black;
    box-shadow: 7px 13px 37px black;
}
  
.controls {
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    font-family: 'calibri';
    font-size: 18px;
    color: #000000;
}
.registro #check {
    display: flex;
    margin: 0 10px;
    color: black;
}
.registro #question {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}
  
.registro a {
    color: black;
    text-align: center;
    text-decoration: none;
}
  
.registro a:hover {
    color: black;
    text-decoration: underline;
}
  
.registro .registrar {
    width: 100%;
    background: #e62f4a;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    border-radius: 4px;
}


body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Oscurece el fondo */
    z-index: -1;
}

















