@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style:none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

.banner {
    position: relative;
    widows: 100%;
    height: calc(108vh - 450px);
    background-image: url(../img/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
}

.capa {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /*background: rgba(19, 19, 19, 0.75); */
}

.texto_banner{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.texto_banner h1{
    margin: 20px;
    font-size: 30px;

}

.texto_banner p{
    margin: 20px;
    font-size: 18px;
}

.header__content {
    grid-area: 1/1/2/2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
.header__content {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Mover el contenido a la derecha */
    height: 100%;
    padding-right: 50%;
    margin-top: -3vw;
    margin-right: -6vw; /* Ajusta el margen derecho */
}

.header__content > div {
    max-width: 500px;
    width: 80%; /* Ajusta el ancho según sea necesario */
    padding: 2rem; /* Ajusta el padding según sea necesario */
    background-color: rgba(20, 20, 20, 0.5);
    backdrop-filter: blur(8px);
    border-radius: 10px; /* Para hacer las esquinas redondeadas */
}

.header__content h1 {
    margin-bottom: 1rem;
    font-size: 2rem; /* Ajusta el tamaño de fuente según sea necesario */
    font-weight: 600;
    color: white; /* Asegúrate de que el texto sea visible */
}

.header__content p {
    font-size: 1rem; /* Ajusta el tamaño de fuente según sea necesario */
    color: white; /* Asegúrate de que el texto sea visible */
}

/* */
header{
	background-color: #f2f2f2;
	text-align: center;
	padding: 25px;
}
nav ul li a{
	display: inline-block;
	text-decoration: none;
	color: #696969;
	margin: 0 30px;
	padding: 5px 15px;
	border-radius: 30px;
}

#header ul li {
    display: inline-block;
    list-style: none;
}

/* */

.cuadro {
    position: absolute;
    width: 80vw;
    transform: translate(-50%, -50%);
    top: 75%;
    left: 50%;
    display: flex;
    justify-content: center;
}


.contenedor1, .contenedor2, .contenedor3 {
    width:20vw; /* Increase width to occupy more horizontal space */
    height: 28vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em 0;
    position: relative;
    font-size: 16px;
    background-color: #dfdfdf;
    border-bottom: 1px solid red;
}

.contenedor1 {
    border-top-left-radius: 1em;
}

.contenedor3 {
    border-top-right-radius: 1em;
}


.numero {
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
}

.texto {
   text-align: center;
   font-size: 0.2em 0;
   pad: 1em 0;
   font-weight: 200;
   line-height: 2;
}

@media screen and(max-width: 1024px) {

    .cuadro {
        width: 90vw;
    }

    .contenedor {
        height: 26vmin;
        width: 26vmin;
        font-size: 12px;
    }
}

.section__container.agreement__container {
    margin-top: 300px; /* Ajusta este valor según sea necesario */
}

